[gcode_macro START_PRINT]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  # Heat bed for probing
  M190 S{BED_TEMP}
  # Use absolute coordinates
  G90
  # Home the printer
  G28
  # If you are generating a new bed mesh:
  BED_MESH_CALIBRATE ADAPTIVE=1

  # I wonder if this is needed
  G28; move X/Y/Z to min endstops
  
  # Set and wait for nozzle to reach printing temperature
  M109 S{EXTRUDER_TEMP}

  G1 Z0.28; lift nozzle a bit
  G92 E0
  G1 Y3 F1800                                    ; zero the extruded length 
  G1 X60  E25 F500                       ; Extrude 25mm of filament in a 5cm line. 
  G92 E0                                     ; zero the extruded length again 
  G1 E-2 F500                                ; Retract a little 
  G1 X70 F4000                              ; Quickly wipe away from the filament line
  M117
  # Start printing!

# Enable exclude_object for adaptive meshing
[exclude_object]

[gcode_macro END_PRINT]
gcode:
  # Turn off bed, extruder, and fan
  M140 S0
  M104 S0
  M106 S0
  # Move nozzle away from print while retracting
  G91
  G1 X-2 Y-2 E-3 F300
  # Raise nozzle by 10mm
  G1 Z10 F3000
  G90
  # Disable steppers
  M84

[gcode_macro update_git]
gcode:
  {% set message = params.MESSAGE|default() %}
  {% if message %}
    RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
  {% else %}
    RUN_SHELL_COMMAND CMD=update_git_script
  {% endif %}

[gcode_shell_command update_git_script]
  command: bash -c "bash $HOME/klipper-backup/script.sh"
  timeout: 90.0
  verbose: True

[gcode_shell_command update_git_script_message]
  command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
  timeout: 90.0
  verbose: True

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.
